<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Wyszukiwania Allegro</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>

    <header>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Witaj na wyszukiwarce listy zakupów!</h1>
          <p class="lead">Wyszukiwarka oparta jest na bazie ofert serwisu Allegro. Mamy nadzieję, że znajdziesz tu przedmioty których szukasz!</p>
        </div>
      </div>
    </header>

    <main>

    <div class="container-fluid">
      <div class="subheader">
        <h1 class="display-5">Czego szukasz:</h1>
      </div>
      <div class="sub-div">
        <form class="" action="/" method="post">
          <div class="input-group">

            <input type="text" class="form-control" placeholder="Produkt" name="productName" required>

            <!-- <input type="number" name="quantity" value="" placeholder="Ilość" required> -->
            <input type="number" name="minPrice" value="" placeholder="Cena minimalna" min="0" required>
            <input type="number" name="maxPrice" value="" placeholder="Cena maksymalna" min="0" required>

            <div class="input-group mb-3">
              <select class="custom-select" name="state" required>
                <option selected disabled value="Wszystkie"> Stan </option>
                <option value="Nowe">Nowe</option>
                <option value="Używane">Używane</option>
                <option value="Wszystkie">Wszystkie</option>
              </select>
            </div>

            <button type="submit" class="btn btn-outline-dark add-btn" name="addButton">Dodaj</button>

          </div>
        </form>
    </div>

    </div>

    <div class="container-fluid">
      <div class="subheader">
        <h2 class="display-6">Twoja lista zakupów:</h2>
      </div>
      <div class="sub-div">
        <ul class="list-group">
        <%- include("list")-%>
        </ul>
      </div>
    </div>


    <div class="search">
      <a href="/result" class="btn btn-success">Szukaj</a>
    </div>

    </main>

    <footer>
      <div class="footer">
        <p>&copy 2019 Grupa 5</p>
      </div>
    </footer>
  </body>
</html>
